<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    mypage
</title>
</head>
<body>
    <h1>hello django templates</h1>
    <form action="/analyzed" method="get">
        <textarea name="text" style="margin : 0px;width: 721px;height:93px;">
        </textarea><br>
        <input type="checkbox" name="removepunc">Remove punctuations.<br>
        <input type="checkbox" name="fullcaps">UPPER CASE.<br>
        <input type="checkbox" name="lineremover">remove new line.<br>
        <input type="checkbox" name="extraspaceremover">remove extra space.<br>
        <input type="checkbox" name="charcounter">character counter.<br>




        <button type="submit">submit</button>
    </form>
    </body>
</html>